/* ---------------------------

Resources

1. Choose and download font(s) in .ttf (true-type format) or .otf (open-type format)

Google Fonts
https://fonts.google.com

2. Upload and convert selected font(s) to .woff (web open font format) and .woff2 (web open font format [compressed]) using the default "optimal" setting

Webfont Generator
https://www.fontsquirrel.com/tools/webfont-generator

3. Copy and paste `@font-face` rules from "stylesheet.css" to `main.css`

- Update `font-family` with a consistent name — for example: from "barlow_semi_condensedbold" to "Barlow Semi Condensed"
- Update `font-weight` and `font-style` values to match the weight and style of the font
- Update `src` url to point to `fonts` folder

Font Weight Values
http://cssreference.io/typography/#font-weight

- Add optional `font-display" property

Font Display
https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display

4. Add preload `link` to HTML before `main.css` for one or two high priority font(s).
For example: `<link rel="preload" href="fonts/barlow-semi-condensed/barlowsemicondensed-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>`

The Web Fonts: Preloaded
https://www.zachleat.com/web/preload/

--------------------------- */

/* --- Barlow Semi Condensed --- */

/* bold */

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../fonts/barlow-semi-condensed/barlowsemicondensed-bold-webfont.woff2") format("woff2"),
       url("../fonts/barlow-semi-condensed/barlowsemicondensed-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  }

/* regular */

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../fonts/barlow-semi-condensed/barlowsemicondensed-regular-webfont.woff2") format("woff2"),
       url("../fonts/barlow-semi-condensed/barlowsemicondensed-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  }

/* thin */

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../fonts/barlow-semi-condensed/barlowsemicondensed-thin-webfont.woff2") format("woff2"),
       url("../fonts/barlow-semi-condensed/barlowsemicondensed-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
  }

/* --- html / body --- */

html {
  font: 100%/1.15;
  }

body {
  width: 90%;
  max-width: 60em;
  margin: 0 auto;
  }

/* --- typography --- */

#banner h1 {
  font: bold 3em/1.15 "Barlow Semi Condensed", "Trebuchet MS", sans-serif;
  margin-top: 1em;
  margin-bottom: 0;
  }

#banner p {
  font: 100 3em/1.15 "Barlow Semi Condensed", "Trebuchet MS", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  }

p {
  font: 1.1em/1.5 "Georgia", serif;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  }

/* --- layout breakpoints --- */

/* overall scale changes */

@media (min-width: 36em) {

body {
  font-size: 125%;
  max-width: 50em;
  }

}

@media (min-width: 48em) {

body {
  font-size: 150%;
  max-width: 40em;
  }

}

@media (min-width: 60em) {

body {
  font-size: 175%;
  max-width: 34.285714285714286em;
  }

}
